<!doctype html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Contact page</title>
</head>
<body>
<section id="content">
    <h1>Welcome to the contact page.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet architecto assumenda autem beatae corporis
        doloribus eaque, eum excepturi fugit iste maxime officia perferendis placeat quas quisquam, sequi veniam
        voluptates</p>
</section>
<script> console.log("This is the script tag passed from about page to base parent fragment.")</script>
</body>
</html>